@model MVCOpdracht.Models.Component

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Component</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aantal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aantal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aankoop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aankoop)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
